@font-face {
    font-family: 'Righteous-Regular';
    src: url("../assets/fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: 'Archivo-Regular';
    src: url("../assets/fonts/Archivo-Regular.ttf");
}