@media screen and (max-width: 1546px) {
    h2 {
        color: var(--coorDarkGreen) !important;
    }
    .experience {
        margin-right: 10px !important;
    }

    .education img {
        height: 265px !important;
    }

    .educationList p:first-child {
        padding-bottom: 20px !important;
    }

}