@import "fonts.css";
@import "scrollbar.css";
@import "burger.css";
@import "speech.css";

:root {
    --colorWhite: #ffffff;
    --colorLightGray: #eeeeee;
    --colorDarkGray: #595959;
    --coorGreen: #1eb47f;
    --coorDarkGreen: #0e553f;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Righteous-Regular, serif;
    font-size: 22px;
    color: var(--colorWhite);
    background: url("../assets/images/background.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul li {
    list-style-type: none;
}

a,
a:active {
    color: var(--colorWhite);
    text-decoration: none;
}

figure {
    padding: 0;
    margin: 0;
}

a:hover,
svg:hover {
    color: var(--coorDarkGreen);
}

p[style="visibility: hidden"] {
    margin: 0;
    padding: 0;
}

.upBtn {
    position: sticky;
    position: -webkit-sticky;
    top: 45%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.upBtn a,
.upBtn svg {
    color: var(--coorGreen);
    background-color: transparent;
}

.upBtn a svg {
    top: 5px;
    position: relative;
    padding: 0px 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 520px;
    margin: 0px auto;
    text-align: center;
}

header {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    margin: 0px;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 400;
}

h2 {
    margin: 15px 0px 0px 0px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

header section,
header nav {
    flex-grow: 1;
}

header section {
    padding-left: 20px;
    padding-right: 10px;
}

header nav {
    padding-right: 20px;
}

nav ul li {
    padding-right: 15px;
}

nav ul li a svg {
    position: relative;
    top: 4px;
    padding-right: 8px;
}

main {
    text-align: center;
    color: var(--colorDarkGray);
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    text-align: left;
    background-color: var(--colorWhite);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.about figure {
    height: 465px;
    font-size: 24px;
}

.about figure img {
    height: 465px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.about .contacts {
    border-top-right-radius: 5px;
}

.speech {
    font-size: 20px;
}

.greetings {
    margin: 0 30px 12px 0;
    font-size: 35px;
    border-bottom: 2px solid #addacd;
}

.greetings span {
    color: var(--coorGreen);
}

.about .social {
    border-bottom-right-radius: 5px;
}

.social {
    margin-top: 10px;
    background-color: var(--coorGreen);
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-evenly;
}

.contacts .mainInfo,
.contacts .social {
    padding-left: 40px;
}

.contacts .mainInfo {
    padding-bottom: 50px;
}

.social ul {
    display: flex;
    margin-top: 16px;
    margin-bottom: 8px;
    justify-content: space-around;
}

.social ul svg {
    width: 30px;
    height: 30px;
}

tr td:first-child {
    padding-right: 40px;
    line-height: 40px;
}

tr td a {
    color: #595959;
}

tr td a:hover {
    color: var(--coorGreen);
}

.mobileOperator {
    position: relative;
    top: 5px;
    left: 7px;
    height: 28px;
}

.summary,
.skills,
.experienceLang,
.education,
.code,
.projects {
    padding: 30px 60px;
    font-family: Archivo-Regular, serif;
    text-align: justify;
    line-height: 32px;
    background-color: var(--colorWhite);
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h3 {
    padding: 50px 0px 20px;
    text-align: center;
    color: var(--coorGreen);
    text-transform: uppercase;
}

h3 svg {
    position: relative;
    top: 2px;
    padding-right: 10px;
}

h3 svg:hover {
    color: var(--coorGreen);
}

.summary {
    text-align: center;
}

.summary a {
    color: var(--coorGreen);
}

iframe {
    width: 660px;
    height: 415px;
    border: none;
}

.skills {
    padding-top: 10px;
    padding-bottom: 10px;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.skillsList h4 {
    margin: 25px -10px 15px 0px;
    flex-grow: 1;
    font-size: 22px;
}

.skillsList ul {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillsList li {
    padding: 8px 10px;
    margin: 2px;
    font-size: 20px;
    color: var(--colorWhite);
    background-color: var(--coorGreen);
    border-radius: 5px;
}

.skills hr {
    height: 1px;
    background-color: rgba(174, 172, 171, 0.45);
    border: none;
}

.experienceLang {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
}

.lng,
.experience {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
    background-color: var(--colorWhite);
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.experience {
    margin-right: 70px;
    padding: 30px;
}

.lng {
    padding: 30px 40px;
}

.lng-eng,
.lng-pl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.experienceLang div p:first-child {
    margin-right: 40px;
}

.experience img {
    height: 250px;
    margin-bottom: 22px;
}

.experience p span {
    margin-left: 40px;
}

.lng img {
    height: 140px;
}

.lng-eng {
    margin-top: 65px;
    margin-bottom: -20px;
}

.education {
    display: flex;
    padding: 0px;
    align-items: center;
}

.education img {
    height: 300px;
    padding: 30px;
}

.educationList {
    margin: 10px 30px;
}

.educationList p {
    margin: 0;
    font-size: 22px;
}

.educationList p:first-child {
    padding-bottom: 70px;
}


.educationList p svg {
    position: relative;
    top: 2px;
    padding-right: 10px;
}

.educationList p span {
    font-weight: 600;
    color: var(--coorGreen);
}

.code {
    font-size: 20px;
}

.code figcaption {
    padding: 0px 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.projects a {
    color: var(--colorDarkGray);
}

.projects figure {
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
    width: 280px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.projects figure:hover {
    transition-duration: .5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.projects figure img {
    max-width: 280px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
}

.projects figure figcaption p:first-child {
    background-color: #222;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.projects figure p {
    font-size: 18px;
    line-height: normal;
    text-align: center;
    padding: 0 5px;
}

footer {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background-color: var(--colorDarkGray);
}

footer img {
    height: 65px;
}

footer a svg {
    height: 35px;
    width: 35px;
}
